@use './variables' as *;
// mixins for media queries

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}

//mixins for Text styles for mobile
@mixin PageHeader {
    font-size: 1em;
    line-height: 2em;
    font-weight: 700;

    
}
@mixin SectionHeader {
    font-size: .75em;
    line-height: 1.5em;
    font-weight: 700;

    
}
@mixin SubHeader {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 700;

    
}
@mixin Body {
    font: size 0.8em;
    line-height: .2em;
    font-weight: 400;


    
}
@mixin labelsButtons {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 700;


    
}


//mixins for Text styles for desktop & tablet
@mixin PageHeader {
    font-size: 2em;
    line-height: 2.75em;
    font-weight: 700;

    
}
@mixin SectionHeader {
    font-size: .75em;
    line-height: 1.5em;
    font-weight: 700;

    
}
@mixin SubHeader {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 700;

    
}
@mixin Body {
    font-size: 1em;
    line-height: 2.75em;
    font-weight: 400;


    
}
@mixin labelsButtons {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: 700;


    
}