@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins'as*;

.info{
    &__description{
        font-family: 'Avenir';
        font-size: 1.4em;
        line-height: 1.5em;
        width: 92%;
        margin-left: 5%;
    }
    

}