@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;

@use './../../styles/partials/variables' as *;
@use './../../styles/partials/mixins' as *;

.video {
    width:100%;
    &__container {
        display: flex;
        height: 250px;
        background-color: black;
        @include tablet {
            height: 400px;

        }

        @include desktop {
            height: 500px;
           
        }
    }



    &__img {
        min-width: 100%;
        height: auto;
        object-fit: cover;
        margin-left: 5%;
    }
}
