$BrainFlix-Black:#323232;
$BrainFlix-DarkBlack:#0000;
$BrainFlix-Blue:#0095ff;
$BrainFlix-DarkBlue:#0065AD;
$Silver: #afafaf;
$White:#ffffff;
$Mercury: #e1e1e1;
$Alabaster:#fafafafa;


$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;